* {
    box-sizing: border-box;
  }


body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

nav,footer {
    background-color: #37505C;
    color: #fff;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid white;
}

footer {
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.site-name {
    padding-left: 40px;
}

.burger-menu-container {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 10px;
}
  
.burger-menu-container:hover {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    margin: 6px 10px;
    background-color: #fff;
    transition: 0.2s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 4.5px);
    transform: rotate(-45deg) translate(-6px, 4.5px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.hide-menu {
    display: none;
}

.menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(55,80,92);
    padding-top: 80px;
}


a {
    text-decoration: none;
    color: white;
}


a:hover {
    cursor: pointer;
    text-decoration: underline;
}



.menu {
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

.menu-item a{
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 10px 2px;
    background-color: rgba(55,80,92);
    border: 1px solid rgba(55,80,92);
    margin: 10px 20px;
    transition: background-color 200ms ease-in, color 200ms ease-in;
}


.menu-item a:hover {
    background-color: white;
    cursor: pointer;
    color: rgba(55,80,92);
}


.lg-screen-nav {
    display: none;
}


header {
    background-image: url('img/bg/bg-photo-1.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

.hero-intro {
    padding: 10%;
    margin: 10px auto 0;
}


.heading {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #333;
    line-height: 1.6;
    margin: 10% 0;
    margin-bottom: 2%;
}

.sub-heading {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    margin-top: 0;
}

section h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
}


.lang, .tool {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: black;
}


.hero-btn {
    padding: 0;
    border: none;
}

a.hero-btn  {
    text-decoration: none;
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 10px 8px;
    background-color: #fff;
    color: #37505C;
    border: 1px solid #37505C;
    transition: background-color 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

a.hero-btn:hover {
    background-color: #37505C;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

section {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #37505C;
    color: #eee;
    min-height: 150px;
    line-height: 1.8;
}

section:nth-child(even){
    background-color: #fff;
    color: #333;
}

section p, .btn-container, .tech-used {
    text-align: left;
    padding: 0 8%;
}

.img-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.img-thumbnail  {
    width: 60%;
}

.img-thumbnail img {
    display: block;
    width: 100%;
}

.my-portfolio .img-thumbnail {
    width: 100%;
    padding: 10px;
}

.my-portfolio-intro {
    background: rgba(225,225,225,0.2);
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    padding-bottom: 30px;
}

span, .ig-link {
    color: #A71D31;
    text-decoration: none;
    transition: text-decoration 200ms ease-in;
    background-color: rgb(245,245,220);
    padding: 2px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    background-color: #A71D31;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.tech-icon-container, .pro-icon-container, .social-icon-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.tech-used ul {
    display: inline-block;
    vertical-align: center;
}

.tech-icon, .pro-icon, .social-icon {
    display: inline-block;
    padding: 3px;
}

.tech-icon img, .pro-icon img, .social-icon img, .footer-icon img {
    width: 30px;
}

.first-btn, .second-btn {
    padding: 0;
    border: none;
}

a.first-btn , a.second-btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 120px;
    padding: 8px 6px;
    background-color: #fff;
    color: #37505C;
    border: 1px solid #37505C;
    transition: background-color 200ms ease-in, color 200ms ease-in, border 200ms ease-in;
}

a.first-btn:hover, a.second-btn:hover {
    background-color: #37505C;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.pro-icon-container, .social-icon-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.footer-icon {
    display: inline-block;
    padding: 3px;
    margin: 1%;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 320px) {

    body {
        font-size: 14px;
    }

    .hero-intro {
        padding: 10%;
        margin: 5% auto 0;
    }
    
    
    .heading {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        color: #333;
    }
    
    .sub-heading {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #555;
    }
}


@media screen and (min-width: 768px) {
    
    main {
        position: static;
        width: 90%;
        margin: 0 auto;
    }

    header {
        background-position: bottom;
        height: 90vh;
    }

    .hero-intro {
        padding: 10%;
        margin: 10px auto 0;
    }
    
    .heading {
        font-size: 36px;
        line-height: 1.8;
        margin: 0;
        margin-bottom: 1%;
    }
    
    .sub-heading {
        font-size: 24px;
        color: #555;
        margin-top: 20px;
    }
    

    .burger-menu-container {
        display: none;
    }

    .lg-screen-nav {
        display: block;
    }

    .lg-screen-nav > ul {
        list-style-type: none;
        padding: 0;
        display: inline-block;
    }

    .lg-screen-nav > ul > li {
        display: inline-block;
        padding: 0 10px;
    }

    .lg-screen-nav > ul > li:last-child {
        display: inline-block;
        margin-right: 20px;
    }


    .img-thumbnail  {
        min-width: 200px;
        width: 100%;
    }
    
    .img-thumbnail img {
        display: block;
        width: 100%;
    }   


    .contact-box {
        display: flex;
        min-height: 200px;
    }

    .pro-contact, .social-contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 968px) {
    .outer-role-container {
        display: flex;
    }

    .role-container {
        width: 33%;
        margin: 0 auto;
    }

    .my-bio-flexbox {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 85%;
        margin: 0 auto;
    }

    .btn-container {
        padding: 0;
    }

    .first-btn, .second-btn {
        margin: 5px;
    }

    .first-btn a, .second-btn a {
        width: 105px;
    }

    .my-portfolio-flexbox {
        display: flex; 
        align-items: stretch;
        margin: 20px;
    }

    .my-portfolio-intro {
        width: 33%;
        margin: 0 auto;  
    }

    .my-portfolio-intro .title {
        text-align: center;
    }

    .tech-used, .my-portfolio-intro p {
        padding-left: 6px;
        padding-right: 6px;
    }

}